/*CSS NUESTRO*/
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,300);
body {font-family: source sans pro; font-size: 400;}
a{color: rgb(216,140,234); text-decoration: none !important; font-weight: 600; }
.navbar-nav {float: none !important; display: flex; justify-content: center;}
.botonera {position: fixed; display: block; right:0px; top: 30%;}


/**Nuevocss*/
h1.logo {text-align: center;}
#flexa {
  display: flex;
  justify-content: space-between; 
  flex-flow: row wrap;
}
#hueco {  
  width: 310px; 
}
#logoa {  
  width: 310px;    
  height: 200px;
  background-image: url('../images/logo.jpg');
  background-repeat: no-repeat;
  background-position:top;
  overflow: hidden;
  text-indent: -3000px; 
  background-size: contain;
  margin: 0px auto;

}
#signup {  
  width: 310px;
  position: absolute;
  right: 0px;
  top: 0px;   
}
.nav {
    clear: both;
    border-top: 1px solid #071146;
    border-bottom: 1px solid #071146;
    padding: 13px 0 0 0;
}
.nav .nav_title {
    color: #071146;
    display: none;
}
.nav ul {
    clear: both;
    width: 100%;
    display: block;
    text-align: center;
    position: relative;
    padding: 0 0 13px 0;
}
ul.social{
    display: inline-flex;   
}
ul.social li {
    width: 20px;
    height: 20px;
    overflow: hidden;
    text-indent: -3000px; 
    margin-right: 10px;
}
ul.social li a {
    display:block;    
}
a.social_tw {
    background-image: url('../images/bg_header_sprite.png');
    background-repeat: no-repeat;
    background-position: 0 -40px;
}
a.social_fb {
    background-image: url('../images/bg_header_sprite.png');
    background-repeat: no-repeat;
    background-position: 0 0;
}
.nav ul li {
    display: inline-block;
    width: 200px;
}
ol, ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
}

li a.overlaia {
  /*display:none;*/  
  opacity: 0;
  width: 318px; 
  height: 210px; 
  position: absolute; 
  top:0; 
  right:0; 
   
  color:transparent; 
  font-size:18px;
  transition: all 0.5s ease;
}
a.overlaia:hover {
  color:#fff;
  opacity: 1;
  background:rgba(73,79,119, 0.5);
  text-decoration:none;
}

li a.overlaia span {
  display:block; 
  width: 100%; 
  padding-top:70px; 
  line-height: 45px;  
}
#container header nav ul li a {color:#999 !important; margin: 0 !important; padding: 0 !important; outline:none !important; text-decoration: none !important;}
#container header nav ul li a:link, #container header nav ul li a:visited {color:#999 !important;}
#container header nav ul li a:focus { 
  outline: none !important;  
}

li {
    overflow: hidden;
    position: relative;
    text-align: center;
    display: list-item;  
}

/*Contenido*/

div#edukia.clearfix {   
  padding: 50px 50px 50px 50px !important;
}
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
div#edukia.clearfix ul {
  padding: 50px 50px 50px 50px;
  margin: 0;
  list-style: none;  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; 
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  /*-webkit-flex-flow: row wrap;
  justify-content: space-around; */
}
div#edukia.clearfix ul li.imag{
  clear:both; 
  width:318px;   
  margin-bottom: 8px; 
  list-style:none; 
  overflow: hidden;
  text-align: center;
  margin: 4px 4px 4px 4px;
}
div#edukia.clearfix ul li.desc {
  clear:both; 
  width:424px;   
  margin-bottom: 8px; 
  list-style:none; 
  overflow: hidden;
  text-align: left;
  margin: 4px 4px 4px 4px;  
}
.copia {
  left: 20px;
  vertical-align: bottom;
  position: absolute;
}

/* Estilos del footer*/
footer {
  border-top: 1px solid #071146;
  vertical-align: middle
}

#logofoot {
    width: 310px;    
    height20200px;
    background-image: url('../images/logo.jpg');
    background-repeat: no-repeat;
    background-position:top;
    overflow: hidden;
    text-indent: -3000px; 
    background-size: contain;
    margin: 0px auto; }
}
/*Estilos del menu zona derecha*/


.ico {
  background-color: #494847;
  position: absolute;
  height: 8em;
  line-height: 8em;
  width: 5.9em;
  display: inline-block;
  text-align: center;
}

.ico a {
  width: 100%;
  height: 100%;
  color: #494847;
  background-color: #494847;
}


.ico a img {
  background-image: url(/images/icons_40x40_ffffff.png);
  opacity: 0.95;
  background-position: 10% 0;
  width: 4em;
  height: 4em;
  position: relative;
  cursor: pointer;
  color: inherit;
}

.lateral {
  display: block;
  list-style-type: disc;
}

.lateral li {
  
}

.ico span {
  position: absolute;  
  background-color: #494847;
}

.lateral ul {
  display: block;  
}

.usuario {  
  position: absolute;
  background-color: #494847;
  height: 8rem;
  line-height: 8em;
  width: 5.9rem;
}
